.personagens-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}

.card-personagem {
    background-color: #000;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #e9c300;
    text-align: center;
}

.card-personagem img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #e9c300;
}