.dev-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card-dev {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #e9c300;
    width: 260px;
    text-align: center;
}

.card-dev img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #e9c300;
}
