body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #111;
    color: #f1f1f1;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #e9c300;
}

header h1 {
    margin: 0;
    color: #e9c300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    margin-top: 15px;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #e9c300;
    text-shadow: 0 0 10px #e9c300;
}

.container {
    padding: 25px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #e9c300;
    margin-bottom: 10px;
}

h3 {
    color: #fae374;
}

img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid #e9c300;
    display: block;
    margin: 20px auto;
}

ul li {
    margin-bottom: 8px;
    font-size: 16px;
}

.dev-box {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.dev-box div {
    background-color: #000;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #e9c300;
    text-align: center;
}

.dev-box img {
    border-radius: 10px;
}

footer {
    margin-top: 40px;
    background-color: #000;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #e9c300;
    color: #fff;
    font-size: 14px;
}